---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/jusrez/little-esty-shop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: rate limit exceeded
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '1659475604'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '60'
    body:
      encoding: UTF-8
      string: '{"message":"API rate limit exceeded for 71.56.200.167. (But here''s
        the good news: Authenticated requests get a higher rate limit. Check out the
        documentation for more details.)","documentation_url":"https://docs.github.com/rest/overview/resources-in-the-rest-api#rate-limiting"}

'
  recorded_at: Tue, 02 Aug 2022 21:09:51 GMT
- request:
    method: get
    uri: https://api.github.com/repos/jusrez/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: rate limit exceeded
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '1659475604'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '60'
    body:
      encoding: UTF-8
      string: '{"message":"API rate limit exceeded for 71.56.200.167. (But here''s
        the good news: Authenticated requests get a higher rate limit. Check out the
        documentation for more details.)","documentation_url":"https://docs.github.com/rest/overview/resources-in-the-rest-api#rate-limiting"}

'
  recorded_at: Tue, 02 Aug 2022 21:09:52 GMT
- request:
    method: get
    uri: https://api.github.com/search/issues?q=repo:jusrez/little-esty-shop%20type:pr%20is:merged
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1659474653'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":26,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/jusrez/little-esty-shop/issues/71","repository_url":"https://api.github.com/repos/jusrez/little-esty-shop","labels_url":"https://api.github.com/repos/jusrez/little-esty-shop/issues/71/labels{/name}","comments_url":"https://api.github.com/repos/jusrez/little-esty-shop/issues/71/comments","events_url":"https://api.github.com/repos/jusrez/little-esty-shop/issues/71/events","html_url":"https://github.com/jusrez/little-esty-shop/pull/71","id":1324938091,"node_id":"PR_kwDOHtzye848dTX4","number":71,"title":"API
        structure draft","user":{"login":"easachs","id":100792434,"node_id":"U_kgDOBgH4cg","avatar_url":"https://avatars.githubusercontent.com/u/100792434?v=4","gravatar_id":"","url":"https://api.github.com/users/easachs","html_url":"https://github.com/easachs","followers_url":"https://api.github.com/users/easachs/followers","following_url":"https://api.github.com/users/easachs/following{/other_user}","gists_url":"https://api.github.com/users/easachs/gists{/gist_id}","starred_url":"https://api.github.com/users/easachs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/easachs/subscriptions","organizations_url":"https://api.github.com/users/easachs/orgs","repos_url":"https://api.github.com/users/easachs/repos","events_url":"https://api.github.com/users/easachs/events{/privacy}","received_events_url":"https://api.github.com/users/easachs/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2022-08-01T20:27:15Z","updated_at":"2022-08-01T22:37:29Z","closed_at":"2022-08-01T22:37:28Z","author_association":"COLLABORATOR","active_lock_reason":null,"draft":false,"pull_request":{"url":"https://api.github.com/repos/jusrez/little-esty-shop/pulls/71","html_url":"https://github.com/jusrez/little-esty-shop/pull/71","diff_url":"https://github.com/jusrez/little-esty-shop/pull/71.diff","patch_url":"https://github.com/jusrez/little-esty-shop/pull/71.patch","merged_at":"2022-08-01T22:37:28Z"},"body":null,"reactions":{"url":"https://api.github.com/repos/jusrez/little-esty-shop/issues/71/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/jusrez/little-esty-shop/issues/71/timeline","performed_via_github_app":null,"state_reason":null,"score":1.0},{"url":"https://api.github.com/repos/jusrez/little-esty-shop/issues/70","repository_url":"https://api.github.com/repos/jusrez/little-esty-shop","labels_url":"https://api.github.com/repos/jusrez/little-esty-shop/issues/70/labels{/name}","comments_url":"https://api.github.com/repos/jusrez/little-esty-shop/issues/70/comments","events_url":"https://api.github.com/repos/jusrez/little-esty-shop/issues/70/events","html_url":"https://github.com/jusrez/little-esty-shop/pull/70","id":1324888257,"node[...]
[...]
