<div class="container-fluid" style="border:1px solid #cecece;">
<p><b>Repo Name: </b><%= GithubSearch.new.repo_name %></p>
<p><b>Contributors and commit count:</b></p>
<ul>
<% GithubSearch.new.contributors.each do |contributor| %>
  <li><%= contributor %></li>
<% end %>
</ul>
<p><b>Total Merged Pull Requests: </b><%= GithubSearch.new.merged_pull_requests %></p>
</div>